html {
  background: linear-gradient(to top, #ffebc3, #b9a082);
  background-attachment: fixed;
}

#title {
  padding-top: 30px;
  text-align: center;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

#description {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 120px;
  background: transparent;
}

#survey-container {
  height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 33%;
  margin-right: 33%;
  align-items: center;
}

#name {
  display: block;
}

#name-label {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

#lastname {
  display: block;
}

#lastname-label {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

#email {
  display: block;
}

#email-label {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

#number {
  display: block;
  width: 165px;
}

#number-label {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#survey-container-two {
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 33%;
  margin-right: 33%;
  align-items: center;
}

#dropdown {
  display: block;
  width: 165px;
}

#dropdown-label {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

#survey-container-three {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 33%;
  margin-right: 33%;
  align-items: center;
}

.radio-label {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

#survey-container-four {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 33%;
  margin-right: 33%;
  align-items: center;
}

#textarea {
  display: block;
}

#textarea-label {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

#survey-container-five {
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  margin-right: 33%;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.checkbox {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 14px;
}

#button {
  text-align: center;
  margin-top: 50px;
}
